{{<layouts/base}}
  {{$page}}
    {{#characters}}
      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            {{name}}
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="/play/{{id}}">
                {{#i18n}}play{{/i18n}}<span class="govuk-visually-hidden"> {{name}}</span>
              </a>
            </li>
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="/delete/{{owningUserId}}/{{id}}">
                {{#i18n}}delete{{/i18n}}<span class="govuk-visually-hidden"> {{name}}</span>
              </a>
            </li>
          </ul>
        </div>
        {{>partials/_character-summary}}
      </div>
    {{/characters}}
    <a href=/create-character draggable="false" role="button" class="govuk-button govuk-button--start button-padding" data-module="govuk-button">
      {{#i18n}}{{groupStem}}.create{{/i18n}}
    </a>
  {{/page}}
{{/layouts/base}}
