{{!set part, enumPart, and setValue}}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    {{#i18n}}{{groupStem}}.{{$part}}{{/part}}{{/i18n}}
  </dt>
  <dd class="govuk-summary-list__value">
    {{$setValue}}{{/setValue}}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="/change/{{$enumPart}}{{/enumPart}}/{{owningUserId}}/{{id}}">
      {{#i18n}}change{{/i18n}}<span class="govuk-visually-hidden"> {{#i18n}}{{groupStem}}.{{$type}}{{/type}}{{/i18n}} ({{name}})</span>
    </a>
  </dd>
</div>