<div class="govuk-form-group {{#hasError}}govuk-form-group--error{{/hasError}}">
  {{#isInput}}
    {{>partials/_input}}
  {{/isInput}}
  {{#isRadioButton}}
    {{>partials/_radio}}
  {{/isRadioButton}}
  {{#isCheckbox}}
    {{>partials/_checkbox}}
  {{/isCheckbox}}
</div>
